
.bg-gray-100{
    background-color: #1a202c;
    background-color: rgba(26,32,44,1);
}


.relative {
    position: relative;
    font-family: 'Nunito', sans-serif;



}
.min-h-screen {
    min-height: 100vh;
}
.justify-center {
    justify-content: center;
}
.flex {
    display: flex;
  
}
.max-w-xl {
    max-width: 36rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}
.pt-8 {
    padding-top: 2rem;
}

.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.tracking-wider {
    letter-spacing: .05em;
}

.text-gray-500 {
    --text-opacity: 1;
    color: #a0aec0;
    color: rgba(160,174,192,var(--text-opacity));
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.text-lg {
    font-size: 1.125rem;
}
.border-r {
    border-right-width: 1px;
}
.border-gray-400 {
    --border-opacity: 1;
    border-color: #cbd5e0;
    border-color: rgba(203,213,224,var(--border-opacity));
}
.tracking-wider {
    letter-spacing: .05em;
}

.uppercase {
    text-transform: uppercase;
}
.text-gray-500 {
    --text-opacity: 1;
    color: #a0aec0;
    color: rgba(160,174,192,var(--text-opacity));
}
.ml-4 {
    margin-left: 1rem;
}
.text-lg {
    font-size: 1.125rem;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}