.sidenav{
    position: relative;
    width: 100%;
    order: 0; 
     flex: 1 1 auto;
    align-self: stretch;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* background-image: url('./back.jpg');
      background-size:contain;

    background-repeat: no-repeat; */
    /* background: 
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
  #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px; */
  
}
.content{
  display: flex;
  flex-direction: column;
}
.content .h {
  font-family: "CoreCircus", sans-serif;
  font-size: 70px;
  text-align: center;
  line-height: 1;
  margin: 0;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
 color:#FFF;
  letter-spacing: -0.5rem;
  pointer-events: none;
}
.content .h1 {
  font-family: "CoreCircus", sans-serif;
  font-size:70px;
  text-align: center;
  line-height: 1;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
 color:#FFF;
  letter-spacing: -0.5rem;
  pointer-events: none;
}

.content h2 {
  font-family: "CoreCircus", sans-serif;
  font-size: 70px;
  text-align: center;
  line-height: 1;
  margin: 0;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
 color:#FFF;
  letter-spacing: -0.5rem;
}
.content h2:before {
  content: attr(data-heading);
  position: absolute;
  overflow: hidden;
  color: #ffcc00;
  width: 100%;
  z-index: 5;
  text-shadow: none;
  left: 21%;
  text-align: left;
  -webkit-animation: flicker 3s linear infinite;
          animation: flicker 3s linear infinite;
}
.content h3 {
  font-family: "CoreCircus", sans-serif;
  font-size: 70px;
  text-align: center;
  line-height: 1;
  margin: 0;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
 color:whitesmoke;
  letter-spacing: -0.5rem;
}
.content h3:before {
  content: attr(data-heading);
  position: absolute;
  overflow: hidden;
  color: #ffcc00;
  width: 100%;
  z-index: 5;
  text-shadow: none;
  left: 31%;
  text-align: left;
  -webkit-animation: flicker 3s linear infinite;
          animation: flicker 3s linear infinite;
}
@-webkit-keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 0.99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 0.99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}
@font-face {
  font-family: "CoreCircus2DDot1";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.ttf") format("truetype");
}
@font-face {
  font-family: "CoreCircus";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.ttf") format("truetype");
}



@media(max-width:1216px){
  .content .h,.content .h1,.content h2,.content h3{
font-size: 50px;
  }
  
}
@media(max-width:600px){
  .content .h,.content .h1,.content h2,.content h3{
font-size:35px;
  }
  
}
@media(max-width:374px){
  .content .h,.content .h1,.content h2,.content h3{
font-size: 30px;
  }
  
}

/* .box{
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
} */
.card{
  position: relative;
  width: 250px;
  height: 300px;
  background: #fff;
  margin: auto auto;
  
  /* left: 50%;
  top: 50%;
  transform: translate(-50%,-50%); */
  /* margin-top: 50px; */
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
 
}
.card:before,
.card:after
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index:-1;
    transform: rotate(10deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.card .imgBx{
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
background: #f1f2f3;
transition: 0.5s;
z-index: 1;
  bottom: 80px;
}



.card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
}

.card .details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #fcdde8;
  font-size: 18px;
  font-weight: 700;
  text-shadow: -0.0075em 0.0075em 0 #fef2f6, 0.005em 0.005em 0 #f6a5c1, 0.01em 0.01em 0 #f7aac4, 0.015em 0.015em #f7aec7, 0.02em 0.02em 0 #f8b3ca, 0.025em 0.025em 0 #f8b7cd, 0.03em 0.03em 0 #f8bcd0, 0.035em 0.035em 0 #f9c0d3;
}
.card .details h1{
  display: flex;
  margin: 0 auto;
  text-align: center;
}
.gif{
  width: 230px;
  height: 210px;
}
 

