.board {
    /* outline: 2px solid rgb(134, 154, 189); */
    position: relative;
    /* margin:50px auto; */
    width: 600px;
    height: 600px;
  }
  @media(max-width:650px){
    .board {
    width: 300px;
    height: 300px;
    }
  }
  @media(max-height:650px){
    .board {
    width: 300px;
    height: 300px;
    }
  }
  
  .snake-dot{
    position: absolute;
    width: 4%;
   border-radius: 50%;
    height: 4%;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    

    border: 1px solid rgb(134, 154, 189);
  }
  
  .food{
    position: absolute;
    width: 4%;
    height: 4%;
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 50%;

    border: 1px solid rgb(134, 154, 189); 
  }
  .wall{
    position: absolute;
    width: 4%;
    height: 4%;
background-color: brown;  
    outline: 1px solid rgb(134, 154, 189);
    
  }